NOTION_TOKEN=
NOTION_DB_ID=
NOTION_DATA_SOURCE_ID=
SYNC_DRY_RUN=1

# BBS_CONFIG_FKS=141,2
# BBS_CONFIG_CLASSIFY=141:장학공지,2:학사공지
# BBS_CONFIG_LIST_URLS=141:https://www.sogang.ac.kr/ko/scholarship-notice,2:https://www.sogang.ac.kr/ko/academic-support/notices
# NOTION_UPLOAD_FILES=1
# ATTACHMENT_ALLOWED_DOMAINS=sogang.ac.kr
# FAILURE_REPEAT_SECONDS=21600
# HTML_PATH=
